page-inserta-nota {

}

.borde
{
    border-radius: 10px !important;
}
.back-button-text-ios
{
  display: none !important;
}
.padding
{
      border-bottom: 5px solid #000 !important;
}
.tamano
{
  height:80%;
}
