page-inicio {

}
.centrado{
  text-align: center;
  padding-top:7%;
}
ion-img
{
	    background: #fff;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.toolbar-title-md
{
  color: #000;
}
.blanco
{
  background-color: #fff !important;
}

.padding
{
      border-bottom: 5px solid #000 !important;
}
